body {
    background-color: #E6DFCD;
    font-family: Arial, Helvetica, sans-serif;
}

.Colorado {
    text-align: center;
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    font-size: 7vw; 
}

.circle {
    width: 15vw; 
    height: 15vw; 
    background-color: #FAC80F; 
    border-radius: 50%;
    margin: 0 auto; 
    margin-top: 2vh;; 
    position: absolute;
    left: 25%; 
    top: 49%; 
}
.circle p {
    font-size: 5vw;
    font-weight: bold;
}
.circle2 {
    width: 25vw; 
    height: 25vw;
    background-color: #F04D29; 
    border-radius: 50%;
    margin: 0 auto; 
    margin-top: 10px; 
    position: absolute;
    left: 45%; 
    top: 50%; 
}
img{
    width: 30vw;
    height: auto ;
    position: absolute;
    left: 55%; 
    top: 60%; 
}
.description {
    position: absolute;
    top: 75%;
    margin-top: 10%;
    width: 45%;
    padding: 2vh;
}

#grid-showtimes {
    position: absolute;
    top: 130%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vh;
    padding: 2vh;
}

#grid-showtimes p {
    padding: 1vh;
}

@media screen and (max-width: 400px) {
    body {
        font-size: 14px; 

    }

    .Colorado {
        font-size: 5vw;
    }

    .circle {
        width: 30vw; 
        height: 30vw;
        left: 15%; 
        top: 10%

    }


    .circle2 {
        width: 50vw; 
        height: 50vw;
        left: 50%; 
        top: 10%;
    }

    img {
        width: 70vw; 
        left: 60%; 
        top: 20%; 
    }

    .description {
        width: 100%; 
        top: 30%
    }

    #grid-showtimes {
        top: 60%; 
}

}