
html {
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.flexbox {
    display: flex;
    justify-content: center;
}
.item {
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: 2px solid blue; 

}

@media screen and (max-width: 799px){
    .flexbox {
        display: flex;
        flex-direction:column;

    }
    .item {
    }
}