body {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
img{
    width: 15vw;
    height: 15vh;
    margin-left: 45vw;
    }

p {
    text-align: center;
    font-size: 200%;
}

.container {
    width: 38vw;
    margin: 0 auto; 
    background-color: #E4F6F8 ;
}
.numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.number {
    width: 5vw;
    height: 5vw;
    margin: 1vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: moveNumber 2s infinite alternate;
    border-radius: 50%;
    border: 0.05vw solid black;
}
.number:hover {
    background-color:#D6FFFF;
    font-size: large;
}
.button {
    width: 10vw;
    height: 5vh;
    margin: 2vw auto; 
    background-color: #b8d8be;
    color: black;
    display: block;
}

.button:hover {
    background-color: #e8f4ea;
}

.reset-button {
    width: 10vw;
    height: 5vh;
    margin: 1vw auto; 
    background-color:#ff6961;
    color: black;
    display: block;
}

.reset-button:hover {
    background-color:#ffcccc;
}

#result {
    margin-top: 5%;
    margin-left: 39%; 
    font-size: x-large;
}


p {
	animation: rainbow 3s linear infinite;
}
@keyframes rainbow {
    0% { color: #ff0000; }
    17% { color: #ff7f00; }
    34% { color: #ffff00; }
    51% { color: #00ff00; }
    68% { color: #0000ff; }
    85% { color: #4b0082; }
    100% { color: #8f00ff; }
  }
