body {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
img{
    width: 15vh;
    height: 15vw;
    margin-left: 45vw;
    }

.container {
    width: 35vw; 
    height: 33vh; 
    margin: 0 auto; 
    background-color: #ADD8E6;
}
.numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.number {
    width: 5vw;
    height: 5vw;
    margin: 1vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: moveNumber 2s infinite alternate;
    border-radius: 50%;
    border: 1px solid black;
}
.number:hover {
    color: lightgray;
}
.button {
    width: 10vw; /* Adjust the width as needed */
    height: 5vh;
    margin: 2vh auto; /* Center the button horizontally and add vertical margin */
    background-color: pink;
    color: black;
    display: block; /* Ensure the button behaves as a block element */
}
